// $COLORS
$color-primario: #343a40;
$color-claro: #fff;
$color-platzi: #97c93e;
$color-hover: #82ad36;
$overlay: rgba(0,0,0,0.5);
$background-footer:linear-gradient(90deg, #1c3643, #273b47, 25%, #1e5372);

