   <!----- Modal ----->
<div class="modal fade" id="modalCompra" tabindex="-1" role="dialog" aria-labelledby="modalCompraTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"></div>
    <div class="modal-header">
      <h5 class="modal-title" id="modalCompraTitle">Modal </h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
    </div>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
    <button class="btn btn-primary" type="button">Save changes</button>
  </div>
</div>